html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul, li{
  margin: 0;
  padding: 0;
  margin-block: 0;
}
.shadow{
  box-shadow: 0px 3px 11px #0000000f;
  border-radius: 20px;
}
.shadow2{
  box-shadow: 0px 3px 11px #00000080;
  border-radius: 20px;
}
.App{
  width: 100%;
  height: 100vh;
}
.main{
  position: absolute;
  top: 30px;
  bottom: 30px;
  height: calc( 100% - 30px);
  width: 100%;
  
}
.pattern{
  width: 100%;
  height: 200px;
  position:absolute
}

.pattern img{
  width:100%;
  height:100%;
  object-fit: cover;
}

.dashbaord{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100% - 100px);
  background-color: #fafafa;
  display: flex;
  justify-content:flex-end;
}
.sidebar{
  position: absolute;
  height: calc(100% - 30px);
  background-color: #ffffff;
  width: 25pc;
  left: 20px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.d-main{
  width: calc(100% - 32pc);
  height: 100%;
}

.title{
  letter-spacing: 1px;
  font-weight: 500;
}
.section1{
  width: 100%;
  margin-top: 60px;
}
.section2{
  width: 100%;
  height: 200px;
  background-color: #121e50;
}
.section3{
  width: 100%;
  height: 200px;
  background-color: #6200b9;
}
.spacebetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card{
  width: 50%;
  background-color: #fafafa;
  padding: 20px;
}
.cone{
  margin-right: 15px;
}
.cone .card-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cone .card-main span{
  display: block;
}
.cone .card-main .title{
  color: #ababab;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 2px;
}
.is-credit{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-switch{
  width: 35px;
  height: 20px;
  background-color: #e6e8ea;
  border-radius: 15px;
  display: flex !important;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}
.switch-btn{
  height: 14px;
  width: 14px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 4px;
}
.bloc-amount{
  font-weight: 500;
  font-size: 34px;
  margin: 30px 0;
}
.main-switch.switchLeft{
  justify-content: flex-end;
}
.main-switch.switchRight{
  justify-content: flex-start;
}
.ctwo{
  margin-left: 15px;
}

.logoplace{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar{
  width: 90px;
  height: 90px;
  background-color: #121e50;
  border-radius: 50%;
}
.userinfo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.greating{
  color: #ababab;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 2px;
}
.username{
  font-weight: bold;
  font-size: 17px;
  margin: 0;
}

.amount{
  margin: 40px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.amount h2:first-child{
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 5px;
}
.amount h2:last-child{
  margin-top: 0 !important;
}

.navbar{
}
.navbar ul{
 list-style: none;
}
.navbar ul li{
 margin: 0 auto 15px auto;
}
.navbar ul li a, a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ababab;
  font-weight: 600;
  font-size: 16px;
}
.navbar ul li a span:first-child{
  display: block;
  width: 10px;
  height: 10px;
  background-color: #121e50;
  border-radius: 50%;
  margin-right: 17px;
}
.navbar ul li a span:last-child{
  display: block;
} 